<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::main},'Reset Password', '', '', ~{fragments/emptyjs :: #extrajs})}">
<body>
<main class="container">
    <div class="jumbotron mx-auto mt-3 p-3 bg-light border border-1 border-info rounded">
        <form role="form" class="form" th:action="@{/forgot-password}" th:method="post">
            <div class="form-outline mb-4">
                <input class="form-control" type="email" id="email" name="email">
                <label class="form-label" for="email"><span class="fa fa-sm fa-user fa-fw"></span>Email</label>
            </div>

            <input class="btn-block btn btn-primary" id="submit" type="submit">
        </form>
    </div>
</main>
</body>
</html>
