<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::main},'Reset Password', '', '', ~{fragments/emptyjs :: #extrajs})}">
<body>
<main class="container">
    <div class="jumbotron mx-auto mt-3 p-3 bg-light border border-1 border-info rounded">
        <form role="form" class="form" th:action="@{/forgot-password}" th:object="${email}" th:method="post">
            <div class="form-outline mb-4">
                <input class="form-control" required th:classappend="${#fields.hasErrors('global') ? 'is-invalid' : ''}"
                       type="email" id="email" name="email">
                <label class="form-label" for="email"><span class="fa fa-sm fa-user fa-fw"></span>Email</label>
                <div th:if="${#fields.hasErrors('global')}" class="invalid-feedback">
                    <span th:each="err : ${#fields.errors('global')}" th:text="${err}">Error</span>
                </div>
            </div>

            <input class="btn-block btn btn-primary" id="submit" type="submit">
        </form>
    </div>
</main>
</body>
</html>
