<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::main},'Login', '', '')}">
<body>
    <main class="container">
        <div class="jumbotron mx-auto mt-3 p-3 bg-light border border-1 border-info rounded">
            <form role="form" class="form" th:action="@{/login}" th:method="post">
                <div class="form-outline mb-4">
                    <input class="form-control" type="email" id="email" name="email">
                    <label class="form-label" for="email"><span class="fa fa-sm fa-user fa-fw"></span>Email</label>
                </div>

                <div class="form-outline mb-4">
                    <input class="form-control" type="password" id="password" name="password">
                    <label class="form-label" for="password"><span class="fa fa-sm fa-lock fa-fw"></span>Password</label>
                </div>

                <input class="btn-block btn btn-primary" id="submit" type="submit">

                <div class="text-center mt-4 note note-info">
                    <p>Not a member? <a th:href="@{/register}" href="/register">Register</a></p>
                    <p>Forgot your password? <a th:href="@{/forgot-password}" href="/forgot-password">Reset it</a></p>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
