<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <input type="email" name="email" id="email">
        <input type="text" name="firstName" id="first-name">
        <input type="text" name="lastName" id="last-name">
        <input type="file" name="civilId" id="civil-id">
        <input type="tel" name="phoneNumber" id="phone-number">
        <input type="text" name="address" id="address">
        <input type="radio" name="type" id="freelancer">
        <input type="radio" name="type" id="stakeholder">
        <button type="submit" id="submit"></button>
    </form>
</body>
</html>
