<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{fragments/layout :: layout (~{::main},'Reset Password', '', '', ~{fragments/emptyjs :: #extrajs})}">
<body>
<main class="container">
    <div class="jumbotron mx-auto mt-3 p-3 bg-light border border-1 border-info rounded">
        <form role="form" class="form" th:object="${passwordObject}" th:action="@{'/reset-password/' + ${token}}" th:method="post">
            <div class="form-outline mb-4">
                <input class="form-control" type="password" id="password" name="password" th:field="*{password}">
                <label class="form-label" for="password"><span class="fa fa-sm fa-lock fa-fw"></span>Password</label>
            </div>

            <div class="form-outline mb-4">
                <input class="form-control" type="password" name="passwordConfirm" th:field="*{passwordConfirm}" id="password-confirm">
                <label class="form-label" for="password-confirm"><span class="fa fa-sm fa-lock fa-fw"></span>Password Confirm</label>
            </div>

            <input class="btn-block btn btn-primary" id="submit" type="submit">
        </form>
    </div>
</main>
</body>
</html>
