<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${passwordObject}" th:action="@{'/reset-password/' + ${token}}">
    <input type="password" name="password" th:field="*{password}" id="password">
    <input type="password" name="passwordConfirm" th:field="*{passwordConfirm}" id="password-confirm">
    <button type="submit" id="submit"></button>
</form>
</body>
</html>
