@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

* {
    font-family: 'Orbitron', serif;
}

.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
}

.nav__cont:hover {
    width: 200px;
}

@media screen and (min-width: 600px) {
    .nav__cont {
        width: 80px;
    }
}

.nav__wrapper {
    list-style-type: none;
    color: white;
}

.nav__wrapper:first-child {
    padding-top: 1.5rem;
}

.nav__items {
    padding-bottom: 4rem;
    font-family: 'Orbitron', serif;
}

.nav__items.active svg {
    padding-left: 3px;
    border-left: 2px solid #54a4ff;
}

.nav__items a {
    position: relative;
    display: block;
    top: -35px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Orbitron', serif;
    font-weight: 100;
    font-size: 1.35em;
}

.nav__items a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
}

.nav__items:hover a:after {
    opacity: 1;
}

.nav__items svg {
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .nav__items svg {
        width: 32px;
        height: 32px;
        left: -15px;
    }
}

body {
    height: 100vh;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%), radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%), radial-gradient(circle at 50% 50%, #000, #000 100%);
}

h1 {
    margin-top: 6rem;
    margin-left: 80px;
    text-align: center;
    font-family: 'Orbitron', serif;
    font-weight: 100;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}

footer {
    font-family: 'Orbitron', serif;
}
