<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::main},'Dashboard', '', '', ~{::#extrajs})}" lang="en">
<body>
<main>
    <header data-aos="fade-up">
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-light slide-down">
            <h1 class="mb-3">Dashboard</h1>
            <h4 class="mb-3">See stats, bids and assign freelancers</h4>
            <hr>
        </div>
        <!-- Jumbotron -->
    </header>
    <section id="stats" class="d-flex justify-content-center align-content-center" data-aos="fade-up">
       <div><canvas id="bids-stats"></canvas></div>
       <div><canvas id="bids-histogram"></canvas></div>
    </section>
    <section data-aos="fade-up">
        <div class="card">
            <div class="card-header">
                <div th:inline="text"><i class="fas fa-clock mx-2"></i>[[${project.duration} + ' Day(s)']]</div>
                <div th:inline="text" id="preferred-bid" th:data-preferred-bid="${project.preferredBid}"><i class="fas fa-money-bill mx-2"></i>[[${project.preferredBid}]]</div>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title" th:text="${project.name}">Name</h5>
                <p class="card-text" th:text="${project.description}">
                    This is my project
                </p>
                <div th:text="'Minimum Qualification: ' + ${project.minimumQualification}">Minimum Qualification: 200</div>
            </div>
            <div class="card-footer text-muted">
                <!--TODO: Project Skills/Tags Here-->
            </div>
        </div>
    </section>
    <!-- TODO: only if unassigned, if it's assigned show the freelancer details -->
<!--    <section th:if="project.assignedFreelancer">-->
<!--        <div class="card mx-auto text-white bg-success mb-3 text-center" data-aos="fade-up-right">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" th:text="${project.assignedFreelancer.user.firstName} + ${project.assignedFreelancer.user.lastName}">Freelancer Name</h5>-->
<!--                <div class="card-text">-->
<!--                    <div th:text="${project.assignedFreelancer.user.email}">email</div>-->
<!--                    <div th:text="${project.assignedFreelancer.user.phoneNumber}">phone</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <section th:unless="project.assignedFreelancer" class="mt-3 freelancers row">-->
    <section class="mt-3 freelancers row">
        <div th:each="freelancer, iStat : ${freelancers}" class="card mx-auto text-white bg-success mb-3 text-center col-md-3" data-aos="fade-up-right" th:data-aos="${iStat.even}? 'fade-up-right' : 'fade-up-left'">
            <div class="card-header"><span class="badge bg-light text-dark rounded-pill bid-value" th:text="${freelancer.projectBidAmount}">200</span></div>
            <div class="card-body">
                <h5 class="card-title" th:text="${freelancer.user.firstName} + ${freelancer.user.lastName}">Freelancer Name</h5>
                <div class="card-text">
                    <div th:text="${freelancer.user.email}">email</div>
                    <div th:text="${freelancer.user.phoneNumber}">phone</div>
                </div>
            </div>
            <div class="card-footer">
                <span th:if="${freelancer.projectProposalAmount} > 0" th:text="'Proposal: ' + ${freelancer.projectProposalAmount}">Proposal: 100</span>
                <form th:if="${freelancer.projectProposalAmount} == 0" role="form" class="form send-proposal-form" method="post" th:action="@{/stakeholder/propose}" th:method="post">
                    <div class="form-outline mb-4 mx-auto form-white" style="max-width: 18rem">
                        <i class="fas fa-money-bill trailing"></i>
                        <input class="form-control pe-5" min="10" value="10.0" type="number" name="amount" th:id="'amount-' + ${freelancer.id}">
                        <label class="form-label" th:for="'amount' + ${iStat.count}">Amount</label>
                    </div>

                    <label><input hidden type="number" name="projectId" th:value="${project.id}"></label>
                    <label><input hidden type="number" name="freelancerId" th:value="${freelancer.id}"></label>
                    <button class="btn btn-success send-proposal-btn" type="submit">Propose
                        <span
                                class="spinner-border spinner-border-sm visually-hidden send-proposal-spinner"
                                role="status"
                                aria-hidden="true"
                        />
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
<div id="extrajs">
    <script src="../../static/js/send-proposal-form.js" th:src="@{/js/send-proposal-form.js}"></script>
    <script>
        // TODO: Maybe this logic should be in service or something
        function getBids() {
            let bids = []

            $(".bid-value").each(function() {
                bids.push(parseFloat($(this).text()))
            })

            return bids;
        }

        const preferredBid = $("#preferred-bid").data("preferredBid");
        const bids = getBids()
        const higherBids = bids.filter(value => value > preferredBid)
        const lowerBids = bids.filter(value => value < preferredBid)
        let bidsHistogramObject = {}
        jQuery.each(bids, function(key,value) {
            if (!bidsHistogramObject.hasOwnProperty(value)) {
                bidsHistogramObject[value] = 1;
            } else {
                bidsHistogramObject[value]++;
            }
        });

        // Bids Chart
        const bidsCtx = document.getElementById('bids-stats');
        const bidsChart = new Chart(bidsCtx, {
            type: 'doughnut',
            data: {
                labels: ['Higher', 'Lower',],
                datasets: [{
                    label: 'Bids',
                    data: [higherBids.length, lowerBids.length],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                    ],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: "Bids compared to preferred bid"
                    }
                }
            },
        });

        const bidsHistogramCtx = document.getElementById('bids-histogram');
        const bidsHistogram = new Chart(bidsHistogramCtx, {
            type: 'line',
            data: {
                labels: Object.keys(bidsHistogramObject),
                datasets: [{
                    label: 'Bids',
                    stepped: true,
                    data: Object.values(bidsHistogramObject),
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                    ],
                }]
            },
            options: {
                responsive: true,
                interaction: {
                    intersect: false,
                    axis: 'x'
                },
                plugins: {
                    title: {
                        display: true,
                        text: (ctx) => 'Bids Histogram',
                    }
                }
            }
        });
    </script>
</div>
</body>
</html>
