<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Users</title>
</head>
<body>
<!--    todo make just one form with one submit button and make a button to set the value of the submit or make the delete/activate a get request-->
<form th:each="user: ${users}" th:action="@{'/admin/users/activate/' + ${user.nickname}}" role="form" th:method="post">
    <div th:unless="${user.enabled}">
        <input type="submit" class="enable-user-btn" id="submit">
    </div>
</form>

<form th:each="user: ${users}" th:action="@{'/admin/users/delete/' + ${user.nickname}}" role="form" th:method="post">
    <input class="delete-user-btn" th:id="'delete-' + ${user.nickname}" type="submit">
</form>
</body>
</html>
